body {
  font-family: 'Open sans', sans-serif;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.3);
  background: url("../images/image.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position : relative;
}
/*
Loading section
*/
.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url("../images/loading.gif") center no-repeat rgba(0, 0, 0, 0.9);
}

.no-js #loader {
  display: none;
}

.js #loader {
  position: absolute;
  left: 100px;
  top: 0;
  display: block;
}

/*
Header Section
*/
.full-name {
  text-align: center;
  margin-top: 50px;
  font-family: 'Raleway', sans-serif;
  font-size: 100px;
  font-weight: lighter;

}
/*
Body section
*/

.mainbody {
    text-align: center;
}

.resume{
  margin-top: 170px;
}
.work{
  margin-top: 50px;
}
.photography{
  margin-top: 50px;
}


a,a:link, a:hover, a:active {
color: #000;
text-decoration: none;

}

/*
 Social media section
 */
.social-media-wrapper {
  margin-top: 100px;
  margin-bottom: 80px;
  font-size: 25px;
}

.social-media-wrapper a {
  margin-right: 20px;
  font-size: 25px;
  color: #000;
}

.social-media-wrapper a:last-child {
  margin-right: 0px;
}

/*
Footer and copyright section
*/
.copyright {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.);
  text-align: center;
  color: #000;
  text-align: center;
  bottom : 0;

}

/*--- THE MAGIC ---*/
/*
This is the best bit!
*/
[placeholder]{
  cursor:pointer;
}
[placeholder]:active,
[placeholder]:focus{
  cursor:text;
}
